html {
    height: 100%;
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    src: url("/assets/fonts/SourceSansPro-Light.eot");
    src: local("Source Sans Pro Light"), local("SourceSansPro-Light"), url("/assets/fonts/SourceSansPro-Light.eot']}?#iefix") format("embedded-opentype"), url("/assets/fonts/SourceSansPro-Light.woff2") format("woff2"), url("/assets/fonts/SourceSansPro-Light.woff") format("woff"), url("/assets/fonts/SourceSansPro-Light.ttf") format("truetype"), url("/assets/fonts/SourceSansPro-Light.svg']}#SourceSansPro-Light") format("svg");
}


/* source-sans-pro-regular - latin_latin-ext */

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: url("/assets/fonts/SourceSansPro-Regular.eot']}");
    src: local("Source Sans Pro"), local("SourceSansPro-Regular"), url("/assets/fonts/SourceSansPro-Regular.eot']}?#iefix") format("embedded-opentype"), url("/assets/fonts/SourceSansPro-Regular.woff2") format("woff2"), url("/assets/fonts/SourceSansPro-Regular.woff") format("woff"), url("/assets/fonts/SourceSansPro-Regular.ttf") format("truetype"), url("/assets/fonts/SourceSansPro-Regular.svg']}#SourceSansPro-Regular") format("svg");
}


/* source-sans-pro-700 - latin_latin-ext */

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    src: url("/assets/fonts/SourceSansPro-Bold.eot']}");
    src: local("Source Sans Pro Bold"), local("SourceSansPro-Bold"), url("/assets/fonts/SourceSansPro-Bold.eot']}?#iefix") format("embedded-opentype"), url("/assets/fonts/SourceSansPro-Bold.woff2") format("woff2"), url("/assets/fonts/SourceSansPro-Bold.woff") format("woff"), url("/assets/fonts/SourceSansPro-Bold.ttf") format("truetype"), url("/fonts/SourceSansPro-Bold.svg']}#SourceSansPro-Bold") format("svg");
}

body {
    font-family: 'Source Sans Pro', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    color: #777777;
    -webkit-font-smoothing: antialiased;
    padding: 0;
    margin: 0;
    min-height: 100%;
}

body.main-body {
    background-color: #f8f8f8;
}

.layout-wrapper .topbar {
    height: 60px;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    background: #ffffff;
    -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
    z-index: 1000;
}

.layout-wrapper .topbar .ems-logo-link {
    vertical-align: middle;
    line-height: 60px;
    margin-left: 20px;
}

.layout-wrapper .topbar .ems-logo-link .ems-logo {
    vertical-align: middle;
    height: 28px;
    margin-top: -7px;
}

.layout-wrapper .topbar .ems-logo-link .ems-logo-text {
    color: #59c429;
    font-size: 22px;
    font-weight: 700;
    padding-left: 5px;
}

.layout-wrapper .layout-content {
    padding: 70px 10px 0 10px;
    margin-left: 0px;
    -moz-transition: margin-left 0.3s;
    -o-transition: margin-left 0.3s;
    -webkit-transition: margin-left 0.3s;
    transition: margin-left 0.3s;
}

.card {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #ffffff;
    padding: 18px;
    border: 1px solid #eeeeee;
    box-sizing: border-box;
    margin-bottom: 16px;
    -moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.05);
}

.card.card-w-title {
    padding-top: 0;
    padding-bottom: 16px;
}

.card h1 {
    font-size: 16px;
    padding: 14px 0;
    margin: 0 0 14px 0;
    color: #858585;
    font-weight: bold;
    border-bottom: 1px solid #efefef;
}

body .ui-table .ui-table-caption,
body .ui-table .ui-table-summary {
    padding: 0.5em 1em;
    text-align: center;
    font-weight: bold;
}

body .ui-table .ui-table-caption {
    border-bottom: 0 none;
}

body .ui-table .ui-table-summary {
    border-top: 0 none;
}

body .ui-table .ui-table-thead>tr>th,
body .ui-table .ui-table-tbody>tr>td,
body .ui-table .ui-table-tfoot>tr>td {
    padding: 0.5em 1em;
}

body .ui-table .ui-table-thead>tr>th,
body .ui-table .ui-table-tfoot>tr>td {
    background-color: #ffffff;
    padding: 0.5em 1em;
    border: 1px solid #eaeaea;
    color: #777777;
}

body .ui-table .ui-table-tbody>tr {
    background: #ffffff;
}

body .ui-table .ui-table-tbody>tr>td {
    background: inherit;
    border: 1px solid #eaeaea;
}

body .ui-table .ui-table-tbody>tr.ui-state-highlight {
    background-color: #59c429;
    color: #ffffff;
}

body .ui-table .ui-table-tbody>tr.ui-contextmenu-selected {
    background-color: #337017;
    color: #ffffff;
}

body .ui-table .ui-table-tbody>tr:nth-child(even) {
    background-color: #f8f8f8;
}

body .ui-table .ui-table-tbody>tr:nth-child(even).ui-state-highlight {
    background-color: #59c429;
    color: #ffffff;
}

body .ui-table .ui-table-tbody>tr:nth-child(even).ui-contextmenu-selected {
    background-color: #337017;
    color: #ffffff;
}

body .ui-table.ui-table-hoverable-rows .ui-table-tbody>tr:not(.ui-state-highlight):not(.ui-contextmenu-selected):hover {
    cursor: pointer;
    background-color: #dddddd;
    border-color: #d1d1d1;
}

body .ui-inputtext {
    background: #ffffff;
    padding: 0.308em;
    border: 1px solid #cfcfcf;
    -moz-transition: border-color 0.3s, box-shadow 0.3s;
    -o-transition: border-color 0.3s, box-shadow 0.3s;
    -webkit-transition: border-color 0.3s, box-shadow 0.3s;
    transition: border-color 0.3s, box-shadow 0.3s;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 13px;
    color: #777777;
    height: 35px;
}

body .ui-inputtext:enabled:hover:not(.ui-state-error) {
    border-color: #afafaf;
}

body .ui-inputtext:enabled:focus:not(.ui-state-error) {
    border-color: #59c429;
    -moz-box-shadow: 0 0 3px 0 rgba(143, 223, 50, 0.5), inset 0 0 1.5px 0 rgba(0, 0, 0, 0.07);
    -webkit-box-shadow: 0 0 3px 0 rgba(143, 223, 50, 0.5), inset 0 0 1.5px 0 rgba(0, 0, 0, 0.07);
    box-shadow: 0 0 3px 0 rgba(143, 223, 50, 0.5), inset 0 0 1.5px 0 rgba(0, 0, 0, 0.07);
}

body .ui-inputtext.ng-dirty.ng-invalid {
    background-color: #f0d1d0;
}

body .ui-inputtext.ng-dirty.ng-invalid:hover {
    border-color: #e96d66;
}

body .ui-inputtext.ng-dirty.ng-invalid:focus {
    border-color: #e96d66;
    box-shadow: none;
}

body .ui-inputtext.ng-dirty.ng-invalid:active {
    border-color: #e96d66;
}

body .ui-button {
    color: #ffffff;
    background-color: #59c429;
    border: 1px solid transparent;
    font-size: 13px;
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    margin-right: .25em;
}

body .ui-button:enabled:hover {
    background-color: #4faf25;
}

body .ui-button:enabled:not(.ui-button-secondary):focus {
    outline: 0 none;
    background-color: #64d432;
}

body .ui-button:enabled:active {
    background-color: #42911e;
}

.splash-screen {
    background-color: #1f1f1f;
    height: 100%;
}

.error-text {
    text-align: left;
    margin: 5px 5px;
}

.has-error .error-text {
    color: #ff5652;
}

.full-width {
    width: 100%;
    height: 32px;
}

.ui-no-content {
    text-align: center;
}

.ems-new-form .button-container {
    float: right
}

.button-container button {
    height: 32px;
    margin: 5px;
}

.ems-new-form .sub-title {
    margin: 5px;
    font-size: 14px;
    color: #858585;
    font-weight: bold;
}

body .ui-toolbar {
    padding: 0.5em 1em;
}

body .ui-toolbar .ui-toolbar-separator {
    margin: 0 0.5em;
}

body .ui-toolbar button {
    margin-right: .25em;
}

body .ui-tooltip .ui-tooltip-text {
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}

body .ui-tooltip.ui-state-error {
    border: 0 none;
}

body .ui-paginator {
    padding: 0.5em 1em;
    background-color: #f1f1f1;
}

body .ui-paginator .ui-paginator-first,
body .ui-paginator .ui-paginator-prev,
body .ui-paginator .ui-paginator-next,
body .ui-paginator .ui-paginator-last {
    color: #848484;
    border: 1px solid transparent;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

body .ui-paginator .ui-paginator-first:not(.ui-state-disabled):not(.ui-state-active):hover,
body .ui-paginator .ui-paginator-prev:not(.ui-state-disabled):not(.ui-state-active):hover,
body .ui-paginator .ui-paginator-next:not(.ui-state-disabled):not(.ui-state-active):hover,
body .ui-paginator .ui-paginator-last:not(.ui-state-disabled):not(.ui-state-active):hover {
    color: #59c429;
}

body .ui-paginator .ui-paginator-first:not(.ui-state-disabled):focus,
body .ui-paginator .ui-paginator-prev:not(.ui-state-disabled):focus,
body .ui-paginator .ui-paginator-next:not(.ui-state-disabled):focus,
body .ui-paginator .ui-paginator-last:not(.ui-state-disabled):focus {
    outline: 0 none;
    border: 1px solid #59c429;
}

body .ui-paginator .ui-paginator-pages .ui-paginator-page {
    color: #848484;
    border: 1px solid transparent;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

body .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active {
    color: #ffffff;
}

body .ui-paginator .ui-paginator-pages .ui-paginator-page:not(.ui-state-active):hover {
    background-color: #e2e2e2;
}

body .ui-paginator .ui-paginator-pages .ui-paginator-page:focus {
    outline: 0 none;
    border: 1px solid #59c429;
}

body .ui-inputgroup .ui-button:first-child {
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

body .ui-inputgroup .ui-button:last-child {
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

body .ui-widget,
body .ui-widget .ui-widget {
    font-family: "Source Sans Pro", "Helvetica Neue", sans-serif;
    text-decoration: none;
}

body .ui-widget-content {
    background-color: #ffffff;
    border: 1px solid #eaeaea;
}

body .ui-widget-header {
    background-color: #f1f1f1;
    color: #858585;
    border: 1px solid #eaeaea;
    font-weight: bold;
}

body .ui-state-active,
body .ui-state-highlight {
    background-color: #59c429;
    color: #ffffff;
}

body .ui-state-error,
body .ui-state-default.ui-state-error {
    background-color: #f0d1d0;
    border: solid 1px #e96d66;
}

body .ui-icon {
    width: 16px;
    height: 16px;
    line-height: 16px;
}

body .ui-state-disabled,
body .ui-widget:disabled {
    opacity: .35;
    filter: Alpha(Opacity=35);
    background-image: none;
    cursor: default !important;
}

body .ui-state-disabled *,
body .ui-widget:disabled * {
    cursor: default !important;
}

body .ui-corner-all {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

body .ui-corner-top {
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
}

body .ui-corner-bottom {
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

body .ui-corner-left {
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

body .ui-corner-right {
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

body .ui-widget-overlay {
    background-color: #424242;
    opacity: 0.7;
    filter: alpha(opacity=70);
}

body .ui-button.ui-state-default.ui-button-warning,
body .ui-buttonset.ui-button-warning>.ui-button.ui-state-default {
    background-color: #F1B009;
    border-color: #F1B009;
}

body .ui-button.ui-state-default.ui-button-warning:enabled:hover,
body .ui-buttonset.ui-button-warning>.ui-button.ui-state-default:enabled:hover {
    background-color: #d49a08;
    border-color: #d49a08;
}

body .ui-button.ui-state-default.ui-button-warning:enabled:focus,
body .ui-buttonset.ui-button-warning>.ui-button.ui-state-default:enabled:focus {
    outline: 0 none;
    background-color: #f7ba1d;
    border-color: #f7ba1d;
}

body .ui-button.ui-state-default.ui-button-warning:enabled:active,
body .ui-buttonset.ui-button-warning>.ui-button.ui-state-default:enabled:active {
    background-color: #c08c07;
    border-color: #c08c07;
}

body .ui-button.ui-state-default.ui-button-info,
body .ui-buttonset.ui-button-info>.ui-button.ui-state-default {
    background-color: #6ec5ff;
    border-color: #6ec5ff;
}

body .ui-button.ui-state-default.ui-button-info:enabled:hover,
body .ui-buttonset.ui-button-info>.ui-button.ui-state-default:enabled:hover {
    background-color: #4fb9ff;
    border-color: #4fb9ff;
}

body .ui-button.ui-state-default.ui-button-info:enabled:focus,
body .ui-buttonset.ui-button-info>.ui-button.ui-state-default:enabled:focus {
    outline: 0 none;
    background-color: #8dd1ff;
    border-color: #8dd1ff;
}

body .ui-button.ui-state-default.ui-button-info:enabled:active,
body .ui-buttonset.ui-button-info>.ui-button.ui-state-default:enabled:active {
    background-color: #36afff;
    border-color: #36afff;
}

body .ui-button.ui-state-default.ui-button-danger,
body .ui-buttonset.ui-button-danger>.ui-button.ui-state-default {
    background-color: #f18983;
    border-color: #f18983;
}

body .ui-button.ui-state-default.ui-button-danger:enabled:hover,
body .ui-buttonset.ui-button-danger>.ui-button.ui-state-default:enabled:hover {
    background-color: #ee736c;
    border-color: #ee736c;
}

body .ui-button.ui-state-default.ui-button-danger:enabled:focus,
body .ui-buttonset.ui-button-danger>.ui-button.ui-state-default:enabled:focus {
    outline: 0 none;
    background-color: #f49f9a;
    border-color: #f49f9a;
}

body .ui-button.ui-state-default.ui-button-danger:enabled:active,
body .ui-buttonset.ui-button-danger>.ui-button.ui-state-default:enabled:active {
    background-color: #ec5d55;
    border-color: #ec5d55;
}

body .ui-dropdown {
    border: 1px solid #cfcfcf;
}

body .ui-dropdown:not(.ui-state-disabled):hover {
    border: 1px solid #afafaf;
}

body .ui-dropdown .ui-dropdown-label:focus,
body .ui-dropdown .ui-dropdown-label:hover {
    border: 0 none;
    padding: 8px;
}

body .ui-dropdown label.ui-dropdown-label {
    padding: 8px !important;
}

body .ui-dropdown input.ui-dropdown-label:focus.ui-inputtext,
body .ui-dropdown input.ui-dropdown-label:hover.ui-inputtext {
    border: 0 none;
}

body .ui-dropdown input.ui-dropdown-label+.ui-dropdown-trigger span {
    margin-top: .3em;
}

body .ui-dropdown .ui-dropdown-trigger {
    background-color: #ffffff;
    width: 2em;
    text-align: center;
    padding: 0;
}

body .ui-dropdown .ui-dropdown-trigger .pi-caret-down {
    color: #848484;
}

body .ui-dropdown:not(.ui-state-disabled).ui-state-focus {
    border: 1px solid #59c429;
    -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
}

body .ui-dropdown:not(.ui-state-disabled).ui-state-focus .ui-dropdown-trigger .pi-caret-down {
    color: #59c429;
}

body .ui-dropdown-panel {
    background-color: #f9f9f9;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}

body .ui-dropdown-panel .ui-dropdown-filter-container {
    padding: 0.5em 1em;
}

body .ui-dropdown-panel .ui-dropdown-filter-container .ui-dropdown-filter {
    width: 100%;
    box-sizing: border-box;
    padding-right: 20px;
}

body .ui-dropdown-panel .ui-dropdown-filter-container .pi {
    top: 12px;
    right: 15px;
}

body .ui-dropdown-panel .ui-dropdown-items {
    padding: 0;
    background-color: #f9f9f9;
}

body .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item {
    margin: 0;
    padding: 0.5em 1em;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

body .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item:not(.ui-state-highlight):not(.ui-state-disabled):hover {
    background-color: #e2e2e2;
    color: #777777;
}

body .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item>td {
    padding: 0.5em 1em;
}

body .ui-dropdown-panel .ui-dropdown-items .ui-selectonemenu-item-group {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    padding: 0.5em 1em;
    background-color: #e0e0e0;
}

body .ui-inputtext.ng-dirty.ng-invalid,
body p-dropdown.ng-dirty.ng-invalid>.ui-dropdown,
body p-calendar.ng-dirty.ng-invalid>.ui-calendar>.ui-inputtext {
    border-color: #e96d66;
}

body .ui-datepicker {
    padding: 0;
    width: 20em;
}

body .ui-datepicker:not(.ui-state-disabled) .ui-datepicker-header .ui-datepicker-prev:hover,
body .ui-datepicker:not(.ui-state-disabled) .ui-datepicker-header .ui-datepicker-next:hover {
    color: #59c429;
}

body .ui-datepicker:not(.ui-state-disabled) .ui-datepicker-header .ui-datepicker-prev:focus,
body .ui-datepicker:not(.ui-state-disabled) .ui-datepicker-header .ui-datepicker-next:focus {
    outline: 0 none;
    color: #74d947;
}

body .ui-datepicker:not(.ui-state-disabled) table td:not(.ui-state-disabled) a:not(.ui-state-active):not(.ui-state-highlight):hover {
    background-color: #e2e2e2;
}

body .ui-datepicker:not(.ui-state-disabled) .ui-monthpicker a.ui-monthpicker-month:not(.ui-state-active):hover {
    background-color: #e2e2e2;
}

body .ui-datepicker .ui-datepicker-header {
    padding: 0.5em 1em;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

body .ui-datepicker .ui-datepicker-header .ui-datepicker-prev {
    cursor: pointer;
    top: 1em;
    color: #858585;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

body .ui-datepicker .ui-datepicker-header .ui-datepicker-next {
    cursor: pointer;
    top: 1em;
    color: #858585;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

body .ui-datepicker table {
    font-size: 13px;
}

body .ui-datepicker table td {
    padding: 2px;
}

body .ui-datepicker table td>a,
body .ui-datepicker table td>span {
    min-width: 15px;
    text-align: center;
    color: #777777;
    padding: .35em;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

body .ui-datepicker table td>a {
    cursor: pointer;
}

body .ui-datepicker table td>a:hover {
    background-color: #e2e2e2;
}

body .ui-datepicker table td>a.ui-state-active {
    color: #ffffff;
    background-color: #59c429;
}

body .ui-datepicker table td>a.ui-state-highlight {
    color: #777777;
    background-color: #eaeaea;
}

body .ui-datepicker table td.ui-datepicker-today a {
    background-color: #d1d1d1;
    color: #ffffff;
}

body .ui-datepicker#ui-datepicker-div {
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}

body .ui-datepicker#ui-datepicker-div .ui-timepicker-div .ui-widget-header {
    padding: 0.5em 1em;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

body .ui-datepicker .ui-timepicker a {
    color: #858585;
}

body .ui-datepicker .ui-timepicker a:hover {
    color: #59c429;
}

body .ui-datepicker .ui-monthpicker .ui-monthpicker-month {
    color: #777777;
}

body .ui-datepicker .ui-monthpicker .ui-monthpicker-month.ui-state-active {
    color: #ffffff;
    background-color: #59c429;
}

body .ui-datepicker.ui-datepicker-multiple-month {
    width: auto;
}

body .ui-datepicker.ui-datepicker-multiple-month .ui-datepicker-group {
    border-right: 1px solid #eaeaea;
    padding-top: 0;
    padding-bottom: 0;
}

body .ui-datepicker.ui-datepicker-multiple-month .ui-datepicker-group .ui-datepicker-calendar-container tbody {
    padding-right: .25em;
    padding-left: .25em;
}

body .ui-datepicker.ui-datepicker-multiple-month .ui-datepicker-group:first-child {
    padding-left: 0;
}

body .ui-datepicker.ui-datepicker-multiple-month .ui-datepicker-group:last-child {
    padding-right: 0;
    border-right: 0 none;
}

body .ui-toast .ui-toast-message {
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}

body .ui-toast .ui-toast-message .ui-toast-message-text-content {
    margin-left: 4em;
}

body .ui-toast .ui-toast-message.ui-toast-message-info {
    background-color: #ddedf4;
    border: 0 none;
    color: #393b38;
}

body .ui-toast .ui-toast-message.ui-toast-message-info .ui-toast-close-icon {
    color: #393b38;
}

body .ui-toast .ui-toast-message.ui-toast-message-info .ui-toast-icon {
    font-size: 36px;
    color: #393b38;
}

body .ui-toast .ui-toast-message.ui-toast-message-success {
    background-color: #C9E7CB;
    border: 0 none;
    color: #393b38;
}

body .ui-toast .ui-toast-message.ui-toast-message-success .ui-toast-close-icon {
    color: #393b38;
}

body .ui-toast .ui-toast-message.ui-toast-message-success .ui-toast-icon {
    font-size: 36px;
    color: #393b38;
}

body .ui-toast .ui-toast-message.ui-toast-message-warn {
    background-color: #fff7e1;
    border: 0 none;
    color: #393b38;
}

body .ui-toast .ui-toast-message.ui-toast-message-warn .ui-toast-close-icon {
    color: #393b38;
}

body .ui-toast .ui-toast-message.ui-toast-message-warn .ui-toast-icon {
    font-size: 36px;
    color: #393b38;
}

body .ui-toast .ui-toast-message.ui-toast-message-error {
    background-color: #ffddd5;
    border: 0 none;
    color: #393b38;
}